@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-white text-gray-900;
  }
}

@layer components {
  /* Botones principales */
  .btn-primary {
    @apply bg-zinc-900 hover:bg-zinc-700 text-white font-semibold py-3 px-6 rounded-lg transition-colors duration-200 disabled:opacity-50 disabled:cursor-not-allowed;
  }
  
  .btn-secondary {
    @apply bg-gray-800 hover:bg-gray-900 text-white font-semibold py-3 px-6 rounded-lg transition-colors duration-200 disabled:opacity-50 disabled:cursor-not-allowed;
  }
  
  .btn-outline {
    @apply border-2 border-zinc-900 text-zinc-900 font-semibold py-3 px-6 rounded-lg transition-colors duration-200;
  }
  
  /* Input fields */
  .input-field {
    @apply w-full bg-gray-200 px-4 py-2 rounded-lg focus:border-transparent outline-none transition-all;
  }
  
  .select-field {
    @apply w-full px-4 py-2 rounded-lg  focus:border-transparent outline-none transition-all bg-white cursor-pointer;
  }
  
  /* Cards */
  .card {
    @apply bg-white rounded-xl overflow-hidden;
  }
  
  /* Container */
  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }